<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.crusaderkings.com"
			class = "ck2xtext.ck2.Ck2Package"
			genModel = "model/generated/Ck2.genmodel" />
	</extension>
</plugin>
